<h2>Your Treasure Troves...</h2>
<p>These are your treasure troves, you will start out by defining a trove name to which you can add one or more 
    treasures or items to. You will notice that by default you have a treasure trove that contains your accumulated points.
    These points can also be divided up amongst troves to "sweetin' the pot" of any given collection.
    For more information on how treasure troves work, <a href="#">click here</a></p>
<item-container>
    <item *ngFor="let trove of troves">
        <div class="row">
            <div class="col-xs-6">
                <h4>{{trove.title}}</h4>
            </div>
            <div class="col-xs-6 text-right">
                <span class="glypicon glyphicon-plus"></span>
                <span><strong> {{trove.value}}</strong></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{trove.desc}}
            </div>
        </div>
    </item>
</item-container>
<expandable-field title="Add a treasure">
    <add-treasure-form [troves]="troves"></add-treasure-form>
</expandable-field>
