@import "variables.less";
 .profile {
     .truncate {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
         }
     div {
         &#skill-add-form {
             border-bottom: 1px solid grey;
             padding: 0px;
         }
         &#contact-card {
             margin-bottom: 15px;
            #contact-card-left {
                 img {
                     width: 100%;
                     padding: 0px 10px 10px 0px;
                 }
             }
        }
     }
 }
.common {
    html {
        height: 100%;
        body {
            height: inherit;
        }
    }
    body {
        padding: 0px;
    }
    nav {
            padding-top: 20px;
        &.navbar {
            border: none;
        }
        &.navbar-default {
            background-color:inherit;
        }
        
    }
    ul {
        &.nav {
            &>li {
                &.active {
                    background-color: @none;
                    font-weight: bold;
                }
                &>a {
                    &:hover {
                        background-color: @none;
                        font-weight: bold;
                    }
                    &:focus {
                        background-color: @none;
                    }
                }
            }
        }
    }
 }   

// Xtra-Small
@media(min-width: 320px) {
    .common;
    .profile;
}
//Small
@media (min-width: 540px) {
    .common;
    .profile;
}
// Medium
@media (min-width: 768px) {
    .common;
    .profile
}
// Large
@media (min-width: 1084px) {
    .common;
    .profile;
}
// Xtra-Large
@media(min-width: 1400) {
    .common;
    .profile;
}