.common body {
  padding: 0px;
}
.common nav.navbar {
  border: none;
}
.common nav.navbar-default {
  background-color: inherit;
}
.common ul.nav > li.active {
  background-color: white;
  font-weight: bold;
}
.common ul.nav > li > a:hover {
  background-color: white;
  font-weight: bold;
}
.common ul.nav > li > a:focus {
  background-color: white;
}
@media (min-width: 768px) {
  body {
    padding: 0px;
  }
  nav.navbar {
    border: none;
  }
  nav.navbar-default {
    background-color: inherit;
  }
  ul.nav > li.active {
    background-color: white;
    font-weight: bold;
  }
  ul.nav > li > a:hover {
    background-color: white;
    font-weight: bold;
  }
  ul.nav > li > a:focus {
    background-color: white;
  }
}
@media (min-width: 992px) {
  body {
    padding: 0px;
  }
  nav.navbar {
    border: none;
  }
  nav.navbar-default {
    background-color: inherit;
  }
  ul.nav > li.active {
    background-color: white;
    font-weight: bold;
  }
  ul.nav > li > a:hover {
    background-color: white;
    font-weight: bold;
  }
  ul.nav > li > a:focus {
    background-color: white;
  }
}
