@import "variables.less";
 
.common {
    ng-component {
        height: inherit
    }
    h1 {
        color: @blue;
    }
    html {
        height: 100%;
        body {
            height: 100%;
            margin: 0px;
            overflow: hidden;

            div {
                &.container-fluid {
                    height: inherit;
                    div {
                        &.content {
                            height: inherit;
                        }
                    }
                }
            }
        }
    }
    body {
        padding: 0px;
    }
    nav {
        &#side-nav {
            border-right: 1px solid #e5e5e5;
            margin-right: 15px;
            height: inherit;
            margin-top: -20px;
            padding-top: 20px;
        }
        &.navbar {
            border: none;
        }
        &.navbar-default {
            background-color:inherit;
        }
        
    }
    ul {
        &.nav {
            &>li {
                &.active {
                    background-color: @none;
                    font-weight: bold;
                }
                &>a {
                    &:hover {
                        background-color: @none;
                        font-weight: bold;
                    }
                    &:focus {
                        background-color: @none;
                    }
                }
            }
        }
    }
 }   

@media (min-width: 768px) {
    .common;
}

@media (min-width: 992px) {
    .common;
}