<nav side-nav class="navbar navbar-default col-md-2" id="side-nav"></nav>
<section class="col-md-10">
    <form class="col-md-6 col-md-offset-3" (submit)="registerUser($event)">
        <h1>Register Page</h1>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="Email" id="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" value="" id="password" name="Password" class="form-control">
        </div> 
        <div class="form-group">
            <label for="confpass">Confirm Password:</label>
            <input type="password" value="" id="confpass" name="ConfirmPassword" class="form-control">
        </div>
        <button class="btn btn-primary"
                type="submit">
            Submit
        </button>
    </form>
</section>