<!--<form>
    <div class="form-group">
        <label for="skillName">Name of your skill: </label>
        <input type="text" name="skillName" id="skillName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="skillDesc">Describe your skill: </label>
        <textarea name="skillDesc" id="skillDesc" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="skillCat">What category would you say your skill falls under? </label>
        <select class="form-control" name="skillCat" id="skillCat">
            <option *ngFor="let cat of categories">{{cat.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="skillPointCost">Assign a point value to your skill</label>
        <input type="number" class="form-control" id="skillPointCost" name="skillPointCost" step="1" />
    </div>
</form>-->
