<div [class]="{'col-md-12':'true', 'hidden':componentHidden}" id="expand-field-wrapper">
    <div class="row">
        <span (click)="addFieldToggle()" *ngIf="!fieldVisible">
            <span class="expandable">+ </span>
            <span class="expand-title">{{title}}</span>
        </span>
        <span (click)="addFieldToggle()" *ngIf="fieldVisible">
            <span class="expandable">- </span>
            <span class="expand-title">{{title}}</span>
        </span>
    </div>
    <div class="row" id="expand-field-container">
        <div class="col-xs-12"
                id="expandableField"
                [style.height]="fieldHeight">
            <ng-content></ng-content>
        </div>
    </div>
</div>
