<div class="col-md-3 col-md-offset-1 item" (click)="onItemClick(item)">
    <div class="row">
        <div class="col-xs-4 image">
            <img src="" />
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <h5>{{item.title}}</h5>
                </div>
                <div class="col-xs-12 text-right">
                    <span class="glyphicon glyphicon-plus" *ngIf="hasValue"><strong>{{item.value}}</strong></span>
                </div>
            </div>
        </div>
    </div>
</div>